repoUrl: 'git@github.com:marcobradley/k8s-docker-demo.git'
environment:
app:
  project: 'default'
  targetRevision: main
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m