apiVersion: gateway.envoyproxy.io/v1alpha1
kind: EnvoyProxy
metadata:
  name: custom-proxy-config
  namespace: envoy-gateway-system
spec:
  provider:
    type: Kubernetes
    kubernetes:
      envoyService:
        type: NodePort
        patch:
          value:
            spec:
              ports:
                - name: http
                  nodePort: 30000
                  port: 8080
                  protocol: TCP
                  targetPort: 8080
      envoyDeployment:
        replicas: 1