kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
name: kind-demo-cluster
nodes:
- role: control-plane
  kubeadmConfigPatches:
  - |
    kind: InitConfiguration
    nodeRegistration:
      kubeletExtraArgs:
        node-labels: "ingress-ready=true"
  image: kindest/node:v1.31.1@sha256:cd224d8da58d50907d1dd41d476587643dad2ffd9f6a4d96caf530fb3b9a5956
  extraPortMappings:
  - containerPort: 30000
    hostPort: 30000
    protocol: TCP