name: Yaml Validation
on:
  pull_request:
    branches: [main]
jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Validate Yaml Files
        run: yamllint -c ${{ github.workspace }}/.yamllint ${{ github.workspace }}/docker-desktop-cluster/*.yaml
